<nav class="navbar">
  <div class="container">

    <a *ngIf="!(userManager.getLoginState())" class="navbar-brand link-header fs-4 fst-italic fw-bold form-control-color" routerLink="/">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M11.993 16.75l2.747 -2.815a1.9 1.9 0 0 0 0 -2.632a1.775 1.775 0 0 0 -2.56 0l-.183 .188l-.183 -.189a1.775 1.775 0 0 0 -2.56 0a1.899 1.899 0 0 0 0 2.632l2.738 2.825z" /></svg>
      Gestion HC
    </a>

    <a *ngIf="userManager.getLoginState()" class="navbar-brand link-header fs-4 fst-italic fw-bold form-control-color" routerLink="/dashboard">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M11.993 16.75l2.747 -2.815a1.9 1.9 0 0 0 0 -2.632a1.775 1.775 0 0 0 -2.56 0l-.183 .188l-.183 -.189a1.775 1.775 0 0 0 -2.56 0a1.899 1.899 0 0 0 0 2.632l2.738 2.825z" /></svg>
      Gestion HC
    </a>
    <div *ngIf="!(userManager.getLoginState())" class="justify-content-end">
      <a class="px-2 link-header text-decoration-none text-black" routerLink="/" href="">
        Iniciar sesion
      </a>
    </div>
    <div *ngIf="userManager.getLoginState()" class="d-flex align-items-center align-content-center">
      <div class="d-inline-block mx-2 link-header">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M15 19l2 2l4 -4" /></svg>
        <span>{{userManager.getUserData().name}}</span>
      </div>
      <a class="px-2 link-header text-decoration-none text-black" routerLink="/dashboard" href="">
        Pacientes
      </a>
      <a class="px-2 link-header text-decoration-none text-black" routerLink="/dashboard" href="">
        Recetas
      </a>
      <a class="px-2 link-header text-decoration-none text-black" routerLink="/convenios" href="">
        Convenios
      </a>
      <button (click)="closeSesion()"  class="btn btn btn-danger mx-1 link-header">
        Cerrar
      </button>
    </div>
  </div>
</nav>
