<app-header></app-header>
<section>
  <h1 class="text-center">Nueva receta</h1>

  <form class="w-75 mx-auto mb-4 form-control mt-3" [formGroup]="prescriptionDataForm">
    <div class="position-relative">
      <h3>Seleccionar paciente</h3>
      <!-- Área de selección personalizada -->
      <div class="form-control d-flex w-100 justify-content-between align-items-center cursor-pointer mb-3" (click)="toggleDropdown()">
        <span>{{ selectedOption || 'Selecciona una opción' }}</span>
        <i class="bi bi-chevron-down"></i>
      </div>

      <!-- Menú desplegable con opciones filtradas -->
      <div *ngIf="dropdownOpen" class="dropdown-menu show position-absolute border rounded w-100">
        <input type="text" [formControl]="searchControl" placeholder="Buscar por nombre o identificacion" class="form-control mb-2">
        <div *ngFor="let patient of filteredOptions()" class="dropdown-item cursor-pointer" (click)="selectOption(patient)">
          {{ patient.name }}
          {{patient.identification}}
        </div>
      </div>
    </div>
    <div>
      <label class="mb-2">Fecha de la receta: <strong>{{formatDate(currentDate)}}</strong></label>
      <textarea formControlName="prescriptionData" class="mx-auto w-100 form-control custom-textarea" style="resize: none;" name="" rows="10" id="" placeholder="Ingrese la informacion de la consulta"></textarea>
      <div class="d-flex w-100 mt-2 justify-content-around">
        <input class="btn btn-primary" type="submit" value="Guardar" (click)="createPrescription()" [disabled]="prescriptionDataForm.get('prescriptionData')?.invalid || prescriptionDataForm.get('patient')?.invalid">
        <div>.</div>
        <div *ngIf="prescriptionDataForm.get('prescriptionData')?.valid && prescriptionDataForm.get('patient')?.valid">
          <app-prescription-print [prescriptionData]="getPrescriptionDataInfo()"></app-prescription-print>
        </div>
      </div>
    </div>

  </form>
</section>
