<app-header></app-header>

<section class="home">

  <h1 class="text-center">
    Actividad parcial #2 seguridad informatica
  </h1>
  <h2>
    Integrantes:
  </h2>
  <ul>
    <li>Keila Contreras M</li>
    <li>Brayan Puentes R</li>
    <li>Victor Valdelamar O</li>
  </ul>
  <p class="text-center">El software consiste en un sistema de registro, autenticación y autorización de usuarios utilizando JSON web tokens</p>
  <p class="text-center">Tecnologias usadas: LAMP (Laravel, Angular, Mysql/MariaDB, PHP)</p>
  <footer class="container-fluid mt-5 border">
    <p class="text-center py-2">Created with ❤️ by VBK</p>
    <div class="d-flex justify-content-center">
      <p class="mx-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="gold" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
          </svg>
        <a href="https://github.com/SMITH367/ShortLinksProyect" target="_blank" class="text-decoration-none a"> Star on github</a>
      </p>

    </div>
  </footer>

</section>
