<app-header></app-header>
<section class="border">
  <article class="mt-3 p-lg-4 table-responsive">
    <h2>Recetas</h2>
    <table class="table table-borderless table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col">Paciente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Imprimir</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody *ngFor="let prescription of prescriptions">
        <tr>
          <th scope="row">{{prescription.identificationType}} {{prescription.identification}} {{prescription.name}}
            {{prescription.last_name}}</th>
          <td>{{formatDate(prescription.date_prescription)}}</td>
          <td>
            <app-prescription-print [prescriptionData]="prescription"></app-prescription-print>
          </td>
          <td><button class="btn btn-primary text-decoration-none" (click)="deletePrescription(prescription.id_prescription)">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
          </button></td>
        </tr>
      </tbody>
    </table>
  </article>

</section>
